[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/kfns0b11/archie.git
[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = https://github.com/kfns0b11/hugo-ink.git
